html {
	height: 100%
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
	height:100%
}
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.frm td:nth-child(even) {
	text-align: left;
}

form td:nth-child(odd) {
	/* text-align: right; */
	/* width:12%; */
}
.frm th:nth-child(odd) {
	text-align: right;
	width:15%;
}
.form-title {
	color: #333;
	font-size: 21px;
	background: #f1f1f1;
}
input {
	margin: 0
}

.full-row {
	width: 100%
}
.x-text{width:90%}
.footer{
	margin:0 auto;
	text-align: center;
	padding-bottom:10px;
	background-color:#055db5;
	color:#FFF
}
.w-input {
	width: 92%
}
.pointer{cursor:pointer}
.w16px{width:16px}
.w32px{width:32px}
.w48px{width:48px}
.w64px{width:64px}
.w72px{width:72px}
.w96px{width:96px}
.w108px{width:108px}
.w128px{width:128px}

.w5p{width:5%}
.w6p{width:6%}
.w8p{width:8%}
.w10p{width:10%}
.w20p{width:20%}
.w30p{width:30%}
.w50p{width:50%}

.bordered{border:1px #ddd solid}

.font10{font-size:10px}
.font12{font-size:12px}
.white-pointer {
	cursor: pointer;
	color: white;
	margin-left: 20px;
}
.tree-box {
	border: 1px solid #ddd;
	border-top: 0
}
.hid{
	display:none;
}
#profile{
	width:64px;height:22px;padding:0;border:0;border-radius:1px;background:#f5f5f5
}
.inner-search-box{text-align:left;margin-bottom:8px}
.inner-search-box input{width:80%;height:20px;margin:0px 8px}
.inner-search-box button{padding: 2px 8px;}
.product_flag {
	color: #08c;
	display: inline-block;
	width: 14px;
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	vertical-align:middle;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #08c;
}