body {
	padding-top: 60px;
	padding-bottom: 40px;
}

form td:nth-child(even) {
	text-align: left;
}

form td:nth-child(odd) {
	text-align: right;
}

input {
	margin: 0
}

.full-row {
	width: 100%
}
.x-text{width:90%}
.footer{
	width:75%;
	margin:0 auto;
	text-align: center;
}
.pointer{cursor:pointer}