html {
	height: 100%
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
	height:100%
}

@font-face{
	font-family: "FontAwesome";
	src: url("../font/fontawesome-webfont.eot?v=3.2.1");
	src: url("../font/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../font/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: FontAwesome;
	font-size:18px;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
}
.a-icon:hover{text-decoration:none}
.td_operation{text-align:center !important;vertical-align: middle}
[class^="icon-"]:hover, [class*=" icon-"]:hover{text-decoration:none}
.icon-hand-right:before {
	content: "\f0a4";
}
.icon-time:before {
  content: "\f017";
}
.frm td:nth-child(even) {
	text-align: left;
}

form td:nth-child(odd) {
	/* text-align: right; */
	/* width:12%; */
}
.frm th:nth-child(odd) {
	text-align: right;
	width:15%;
}
.form-title {
	color: #333;
	font-size: 21px;
	background: #f1f1f1;
}
input {
	margin: 0
}

.full-row {
	width: 100%
}
.x-text{width:100%}
.footer{
	margin:0 auto;
	text-align: center;
	padding-bottom:10px;
	background-color:#055db5;
	color:#FFF
}
.w-input {
	width: 92%
}
.pointer{cursor:pointer}
.w16px{width:16px}
.w32px{width:32px}
.w48px{width:48px}
.w64px{width:64px}
.w72px{width:72px}
.w96px{width:96px}
.w108px{width:108px}
.w128px{width:128px}

.w5p{width:5%}
.w6p{width:6%}
.w8p{width:8%}
.w10p{width:10%}
.w20p{width:20%}
.w30p{width:30%}
.w50p{width:50%}

.bordered{border:1px #ddd solid}

.font10{font-size:10px}
.font12{font-size:12px}
.white-pointer {
	cursor: pointer;
	color: white;
	margin-left: 20px;
}
.tree-box {
	border: 1px solid #ddd;
	border-top: 0
}
.hid{
	display:none;
}
#profile{
	width:64px;height:22px;padding:0;border:0;border-radius:1px;background:#f5f5f5
}
.inner-search-box{text-align:left;margin-bottom:8px}
.inner-search-box input{width:80%;height:20px;margin:0px 8px}
.inner-search-box button{padding: 2px 8px;}
.product_flag {
	color: #08c;
	display: inline-block;
	width: 14px;
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	vertical-align:middle;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #08c;
}
.table-frm{
	width:100%;
	border: 1px solid #ddd;
}
.table-frm > tbody > tr > th{
	width:120px;
	text-align:right;
	font-weight: 700;
	padding:6px 8px 2px 0;
}
.table-frm > tbody > tr > td{
	padding:6px 32px 6px 0;
	padding-top:12px;
}
.table-frm > tbody > tr > td > input{
	width:100%;
}
.table-frm > tbody > tr >td>select{
	width:100%;
}
td.required:after{
	box-sizing: border-box;
	color: #ff5d5d;
	content: "*";
	display: inline-block;
	font-size: 14px;
	position: absolute;
	margin:3px 0 0 5px;
}
.btn-wide{
	min-width: 120px;
}
.narrow-th{
	font-size:12px;
}
.search-table {
	width: 100%;
	background-color: #F9F9F9;
	border: 1px #DDDDDD solid;
	margin-bottom: 20px;
}
.search-table > tbody > tr > th{
	text-align:right;
	font-weight: 700;
	padding:6px 8px 2px 0;
}
.search-table td:nth-child(2n+1) {
	text-align: right;
	padding-right:8px;
}
.ccenter{text-align:center!important}
.icon-list-ol:before {
	content: "\f0cb";
}