body {
	padding-top: 60px;
	padding-bottom: 40px;
}

#queryForm td:nth-child(even) {
	text-align: left;
}

#queryForm td:nth-child(odd) {
	text-align: right;
}

#tdBtn {
	width: 15%;
	text-align: center;
}
.w4{width: 4%}
.w6{width: 6%}
.w8{width: 8%}
.w12 {
	width: 12%
}
.w15 {
	width: 15%
}
.w24 {
	width: 24%
}
.w28 {
	width: 28%
}
.w36 {
	width: 36%
}
.wp60 {
	width: 60%
}
.wp80 {
	width: 80%
}
.wp98 {
	width: 98%
}
.qt {
	width: 150px
}
#pageFormIdpageNo{width:32px}
.ibox span {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border-radius: 4px;
	color: #555;
	display: inline-block;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	padding: 4px 6px;
	vertical-align: middle;
}

.ibox input {
	margin-left: 3px
}
.footer{
	width:100%;
	margin:0 auto;
	text-align: center;
}