<form id="pageFormId" method="post" action="/project/WEB-INF/views/list.jsp">
	<div class="pagination pagination-right">
		<ul>
			<li class="disabled"><a>首页</a></li>
			<li class="disabled"><a>上一页</a></li>
			<li class="currentpage">1</li>
			<li><a href="javascript:goPage(2)">2</a></li>
			<li><a href="javascript:goPage(2)">下一页</a></li>
			<li><a href="javascript:goPage(2)">尾页</a></li>
			<input type="text" name="pageNo" value="1" style="width: 30px" /></input>页
			<input type="button" onclick="goPage()">跳转
			</input>
		</ul>
		共7条记录|每页5条|当前1/2页
	</div>
	<input type="hidden" name="pageSize" value="5"></input>
</form>
<script type='text/javascript'>
	function goPage(pageNo) {
		var pageNoInput = document.getElementById("pageFormIdpageNo");
		if (pageNo == undefined) {
			pageNo = pageNoInput.value;
		}
		if (isNaN(pageNo) || pageNo < 1) {
			pageNo = 1;
		}
		var form = document.getElementById("pageFormId");
		pageNoInput.value = pageNo;
		form.submit();
	}
</script>
